* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/background.jpg'); /* Orqa fon rasmi */
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: backgroundAnimation 20s infinite linear; /* Orqa fon animatsiyasi qo'shildi */
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.container {
    text-align: center;
}

.play-with-me h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 50px;
}

.tennis-logo img {
    width: 50px; /* Tennis to'pi emblemasi */
    margin-bottom: 20px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 30px;
    position: relative;
}

.game1, .game2 {
    position: absolute;
    bottom: 10%;
}

.game1 {
    left: 10%;
}

.game2 {
    right: 10%;
}

button {
    background-color: #8a2be2; /* Violet rang */
    color: white;
    border: 2px solid red;
    padding: 30px 60px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a1cb6; /* Bir oz qoraygan variant */
}

.astronaut img {
    width: 150px; /* Kosmonavt rasmi */
    margin-top: 20px;
}
.game-title{
    font-size: 128px;
    color: #fff;
}
